@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .dark-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 10px;
  }
  .dark-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
  }
}
